* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
nav {
    background: lightyellow;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;/* made unordered list a flex container */
    color: white;
}

nav a:hover {
    background: blue;
}
nav ul li:nth-child(5) {
    /*
        this allows the last flex item to be right justified
        by filling remaining space to the left of the flex item with margin
    */
    margin-left: 30%
}